
@font-face {
    src: url(../../assets/font/Nunito-Regular.ttf);
    font-family: 'NunitoReg';
}


@font-face {
    src: url(../../assets/font/Nunito-SemiBold.ttf);
    font-family: 'NunitoSemiBold';
}